:root {
  /* color */
  --color-primary: #778183;
  --color-light: #bdbdbd;
  --color-text: #1b1b1b;
  --color-text-sec: white;
  --color-active: #9dc19b;
  --color-btn: #7c81ad;
  --color-secondary: rgb(98, 52, 136);
  --color-gradient: linear-gradient(
    45deg,
    #2e085a 0%,
    #623488 18%,
    #83439b 50%,
    #9c48a5 75%,
    #c1569b 100%
  );

  /* Font */
  --font-family: "Open Sans", Helvetica;
  --font-bold: 700;
  --font-light: 400;
  --font-size-text: 13px;
  --font-size-title: 20px;
  --font-size-section-title: 48px;

  /* Size */
  --size-primary: 25px;
  --size-double: calc(var(--size-primary) * 2);
  --size-half: calc(var(--size-primary) / 2);

  --margin-primary: var(--size-primary);
  --padding-primary: var(--size-primary);
  --padding-double: var(--size-double);
  --padding-half: var(--size-half);
  --height-primary: 120px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: url("./../Images/Bg.jpeg");
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* /////////////////// Navbar ////////////////// */
@media (min-width: 768px) {
  .navbar {
    height: var(--height-primary);
  }
  .navbar::after {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 75%;
    height: 90%;
    background: var(--color-gradient);
    border-radius: 0 0 0 15px;
    z-index: -1;
  }
}

@media (min-width: 1400px) and (max-width: 1650px) {
  .navbar::after {
    width: 80%;
  }
}
@media (min-width: 1030px) and (max-width: 1202px) {
  .navbar .sios-nav-link.nav-link {
    margin-left: 30px !important;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .navbar::after {
    width: 70%;
  }
  .navbar .sios-nav-link.nav-link {
    padding: 10px !important;
    font-size: 12px !important;
  }
  .navbar img {
    width: 110px !important;
  }
  .sios-hr-parent {
    margin-left: 20px;
  }
}

.navbar-brand img {
  width: 140px;
  margin-right: 10px;
}
.navbar .nav-links.navbar-nav {
  flex: inherit;
  margin: 0 0 0 40px;
}
.navbar .sios-nav-link.nav-link {
  color: var(--color-text-sec);
  margin-left: var(--size-double);
  font-weight: var(--font-bold);
  font-size: var(--font-size-title);
  transition: all 0.2s ease-in;
  padding: 10px 20px;
  border-radius: 10px;
}
.navbar .sios-nav-link.pharmacy-active {
  background-color: var(--color-text-sec);
  color: var(--color-secondary);
  box-shadow: 0 0 5px 2px #14061b4d;
}
.navbar .sios-nav-link.claims-active {
  background-color: var(--color-text-sec);
  color: var(--color-secondary);
  box-shadow: 0 0 5px 2px #14061b4d;
}
.navbar .sios-nav-link.chronicdelivery-active {
  background-color: var(--color-text-sec);
  color: var(--color-secondary);
  box-shadow: 0 0 5px 2px #14061b4d;
}
@media (max-width: 767px) {
  .navbar .nav-links.navbar-nav {
    margin-left: 10px;
  }

  .navbar .sios-nav-link.nav-link {
    margin-left: 0px;
    margin-bottom: 20px;
    color: var(--color-secondary);
    transition: 0.2s all ease-in;
  }
  .navbar .sios-nav-link.pharmacy-active {
    background: white;

    padding: 10px 20px;
    border-radius: 5px;
  }
  .navbar .sios-nav-link.claims-active {
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .navbar .sios-nav-link.chronicdelivery-active {
    background: white;

    padding: 10px 20px;
    border-radius: 5px;
  }
  .navbar .sios-nav-link.nav-link:hover {
    background: transparent !important;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .navbar .navbar-collapse {
    margin: 20px 0;
  }
  .navbar .navbar-collapse button {
    background-color: #ffffff93;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.177);
  }
  .navbar .navbar-collapse i {
    color: var(--color-secondary);
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}
@media (min-width: 767px) and (max-width: 1030px) {
  .navbar .sios-nav-link.nav-link {
    font-size: 16px;
    margin-left: 20px;
  }
}
.navbar .sios-nav-link.nav-link:hover {
  background-color: var(--color-text-sec);
  color: var(--color-secondary);
  box-shadow: 0 0 5px 2px #14061b4d;
}

.bg-light {
  background-color: transparent !important;
}
.menu-icon span {
  color: var(--color-secondary);
}
.sios-hr-btn button {
  background-color: #fff;
  color: var(--color-secondary);
  padding: 10px;
  font-weight: var(--font-bold);
  border-radius: 15px;
  border: none;
}
.sios-hr-btn button:hover {
  background-image: var(--color-gradient);
  color: var(--color-text-sec);
}
.sios-hr-btn button:focus {
  background-image: var(--color-gradient);
  color: var(--color-text-sec);
}
.navbar i {
  color: var(--color-text-sec);
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}
.sios-hr-parent div:last-child {
  position: relative;
}

.sios-hr-parent div:last-child div {
  position: absolute;
  top: -7px;
  right: 24px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
}
.sios-hr-parent div:last-child div p {
  color: rgb(127, 22, 123);
  font-weight: var(--font-light);
}
.bell-dropdown {
  color: white;
  border: none;
}

/* .logo-a {
  margin-left: 20px;
}
.logo {
  width: 170px;
  background-image: url("./../Images/logo-dms.png");
  background-size: contain;
  margin-right: 3rem;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.nav-ul {
  background: var(--color-gradient);
  color: white;
  border-radius: 0;
}

.current{
  color: #83439b;
  background-color: #ffffff !important;
  border-radius: 10px;
}

.nav-ul li:not(:last-child) a {
  font-size: 23px;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.nav-ul li:not(:last-child) a:hover {
  color: #83439b !important;
  background-color: #ffffff !important;
  border-radius: 10px;
}
.bell {
  width: 40px;
  filter: invert();
} */

/* /////////////////// Main Content ////////////////// */

.body-container {
  width: 100%;
}
.h1-container {
  padding: 0.7rem 2rem;
  background: linear-gradient(
    45deg,
    #2e085a 0%,
    rgb(98, 52, 136) 18%,
    #83439b 50%,
    #9c48a5 75%,
    #c1569b 100%
  );
}
.h1-container h1 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.pending-btn {
  position: absolute;
  top: 9%;
  right: 10%;
}

.pending-btn button {
  border-radius: 5px;
  opacity: 0.5;
  transition: all 0.1s ease-in-out
}
.pending-btn button:hover {
  opacity: 1;
}

.body-container .search-form {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.body-container .search-form input[type="text"] {
  padding-left: 7rem;
  width: 350px;
  height: 43px;
  border: 2px solid #566084;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.body-container .search-form input[type="text"]:hover {
  border: 2px solid #566084;
  box-shadow: 0 0 5px #566084;
}
.body-container .search-form input[type="submit"] {
  position: absolute;
  left: -0.1%;
  padding: 0.6rem 1.7rem;
  border-radius: 20px;
  border: none;
  background: #7c81ad;
  color: #ffffff;
  font-size: medium;
  cursor: pointer;
}
.body-container .search-form input[type="submit"]:hover {
  background: #566084;
  color: #ffffff;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 1rem;
  gap: 20px;
}
.input-container div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-container div span {
  position: absolute;
  color: #5b5b5b;
  font-size: small;
  padding-left: 20px;
  width: max-content;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.input-container div textarea {
  resize: none;
  display: flex;
  align-items: center;
}
.input-container div input,
textarea,
select {
  padding: 0 1.5rem;
  width: 250px;
  height: 43px;
  border: 2px solid #566084;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
.input-container div input:focus,
.input-container div input:valid,
textarea:focus,
textarea:valid,
select:focus,
select:valid {
  padding-top: 20px;
}
textarea {
  padding-top: 25px;
}

input[type="date"] {
  color: #fff;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #000;
}
.input-container div input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #566084;
  box-shadow: 0 0 5px #566084;
}

.input-container div input:valid ~ span,
.input-container div select:valid ~ span,
.input-container div textarea:valid ~ span,
.input-container div input:focus ~ span,
.input-container div select:focus ~ span,
.input-container div textarea:focus ~ span {
  pointer-events: none;
  font-size: 10px;
  transform: translateY(-10px);
  color: #828282;
  transition: all 0.2s ease-in-out;
}

.selectRay-input {
  display: flex;
  align-items: center;
  gap: 20px;
}
.selectRay-input input {
  padding: 0 2rem;
  height: 43px;
  width: 90%;
  font-size: 14px;
  border: 2px solid #566084;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.radio-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  align-items: center;
}
.radio-button div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10%;
}
.radio-button div button {
  width: 120px;
  height: 43px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: medium;
  cursor: pointer;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
  background: #7c81ad;
}

.radio-button div button:hover {
  box-shadow: 0 0 5px #83439b;
}

.wrapper {
  width: min(1900px, 100% - 3rem);
  margin-inline: auto;
}
.table-container {
  max-width: 100%;
  overflow-x: auto;
}
.table-container table {
  border-collapse: collapse;
  /* background: white; */
  padding: 1rem;
}
.table-container table th,
.table-container table td {
  padding: 1rem;
  text-align: center;
}
.table-container table td button {
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
}
td button:hover {
  box-shadow: 0 0 5px #566084;
}

.toTop {
  position: fixed;
  right: 5%;
  bottom: 10%;
  width: 50px;
  height: 50px;
  background: #83439b;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity: 0;
  box-shadow: 0 0 5px #566084;
}
.toTop.active {
  opacity: 1;
}
.toTop img {
  width: 100%;
  filter: invert(1);
}
.logo-white {
  width: 100px;
  background-image: url("./../Images/logo-dms-white.png");
  background-size: contain;
  margin-right: 3rem;
  opacity: 0.8;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

/* footer */

.footer {
  background: linear-gradient(
    45deg,
    #2e085a 0%,
    rgb(98, 52, 136) 18%,
    #83439b 50%,
    #9c48a5 75%,
    #c1569b 100%
  ) !important;
  color: white;
}

.footer h5 {
  font-weight: bolder !important;
}

.footerP2 {
  position: relative;
  margin-left: 50px;
}

.footerP2::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 90px;
  margin-right: 20px;
  border-radius: 50% !important;
  top: 10%;
  background-color: white;
  left: -50px;
}
.footerP3 {
  position: relative;
  margin-left: 50px;
}
.footerP3::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 90px;
  margin-right: 20px;
  border-radius: 50% !important;
  top: 10%;
  background-color: white;
  left: -50px;
}

.footerP1 p {
  letter-spacing: 1px;
}
.line {
  background-color: white;
  height: 5px;
  width: 70px;
  margin-left: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.logo-white {
  width: 140px;
  margin-top: 10px;
  background-image: url("./../Images/logo-dms-white.png");
  background-size: contain;
  margin-right: 3rem;
  opacity: 0.8;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.logo-white:hover {
  opacity: 1;
}

@media screen and (max-width: 1050px) {
  .nav-right-container {
    border-radius: 0;
    width: 100%;
  }
}
