@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tajawal&display=swap");
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/EPSRC-261120-ArtificialIntelligence-GettyImages-1206796363.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
p{
    margin:0;
}
/*==========================forLabel==================================================*/
.forLabel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid white
}
.forLabel input {
    height:50px;
    background: transparent;
    border:none;
    color:white;
    padding-left:15px;
    font-weight:500;
}
    .forLabel > span:not(.select2-container), .select {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        /* left: 10px; */
        color: white;
        font-weight: bold;
        font-size: 12px;
        padding-left: 15px;
        width: max-content;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
    }
    .forLabel input:valid ~ span,
    .forLabel input:disabled ~ span:last-of-type,
    .forLabel input:focus ~ span {
        pointer-events: none;
        font-size: 10px;
        transform: translateY(-110%);
        color: white;
        transition: all 0.2s ease-in-out;
    }
    .forLabel input:focus  {
        outline: none;
        /* border: 2px solid #566084; */ 
        padding: 14px 15px 0 !important;
        transition: all 0.2s ease-in;
        font-weight: 700;
        color: white;
        border: 2px solid var(--color-secondary);
    }

    .forLabel input:valid {
        outline: none;
        transition: all 0.2s ease-in;
        font-weight: 500;
        color: white;
        font-size: 14px;
        padding-top: 13px;
    }
/*==========================forLabel==================================================*/

.layer {
  width: 100% !important;
  min-height: 100% !important;
  background: rgba(243, 240, 238, 0.527);
}
.container {
    position: relative;
    background: linear-gradient(45deg, #4d3c9d, #5b0d72);
    width: 450px;
    height: 440px;
    overflow: hidden;
    box-shadow: 0 0 5px #c045ff3d, 0 0 25px #c045ff33, 0 0 50px #c045ff2b, 0 0 200px #c045ff3d !important;
}

.container form {
  z-index: 2;
}

    .container::before {
        position: absolute;
        width: 550px;
        height: 540px;
        content: "";
        top: 0%;
        left: -50%;
        background: linear-gradient(0deg, transparent, transparent, #bb45ff3d, #b545ff3d, #ab45ff);
        z-index: 1;
        animation: animate 5s linear infinite;
        transform-origin: bottom right;
    }

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inputBtn {
  position: relative;
  margin: 15px 0px;
  width: 100%;
}

.inputBtn input {
  border: none !important;
  padding: 15px 10px 10px;
  width: 100%;
  outline: none;
  background-color: transparent;
  transition: all 0.4s;
  font-size: 1rem;
  color: #fff;
  z-index: 10;
}

.inputBtn span {
  position: absolute;
  color: #fff !important;
  left: 0;
  pointer-events: none;
  padding: 15px 5px 5px !important;
  font-size: 1rem;
  transition: all 0.4s;
}

.inputBtn input:focus ~ span,
.inputBtn input:valid ~ span {
  font-size: small;
  transform: translateY(-60%);
}

.inputBtn i {
  background: #fff !important;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* ================home============== */
.slider {
  background-image: url(../img/how-to-develop-an-engaging-learning-experience.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.layer {
    background-color: #000b1fb3;
    width: 100%;
    height: 100%;
}

.categories {
  width: 85%;
}

.cursor-pointer {
  cursor: pointer;
}
.category {
  background-color: rgba(15, 14, 14, 0.89);
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.category:hover {
  transform: scale(1.1);
}
